<launch>


    <node pkg="joy" name="joy" type="joy_node">
        <param name="coalesce_interval" value="0.002"/>
        <param name="autorepeat_rate" value="50"/>
    </node>

    <!-- Default mavlink proxy option is mavlink router, switch to mavproxy by uncommet the following -->
    <!-- <node machine="rov" pkg="redrov_missions" name="mavproxy" type="mavproxy.sh"/> -->

    <!-- <node pkg="redrov_control" name="joy_manual_control_node" type="joy_manual_control_node" output="screen"/> -->
    <node pkg="redrov_simulation" name="joy_simulation_node" type="joy_simulation_node" output="screen"/>
    <node pkg="orca_advance_control" name="rov_node" type="rov_node" output="screen"/>
    <node pkg="redrov_control" name="static_tf_publisher" type="static_tf_trans_publisher_node"/>
  
    <include file="$(find redrov_simulation)/launch/upload_bluerov2.launch" />
</launch>